<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Cadastro</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body> 
    <form method="post" action="/pessoas/criar">
        <h1>Insira seus dados:</h1>
        <p>Nome:</p><input type="text" name="nome" class="texto"/>
        <p>Sobrenome:</p><input type="text" name="sobrenome" class="texto"/>
        <p>Altura:</p><input type="text" name="altura" class="texto"/>
        <p>Idade:</p><input type="text" name="idade" class="texto"/><br/>


        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>